body{
    background-image: url("park.jpg");
    background-size:100%;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;  
}

#coupleScene{
    margin:5px;
    transition: transform 1.0s;
    transition-timing-function: ease-in-out;

}


#bench img{
    width:340px;
    z-index: 1;
    position:absolute;
    bottom:10px;
    left:560px;
}

#couple img{
    z-index:2;
    width:350px;
    position:absolute;
    bottom:10px;
    left:560px;
}

 #coupleScene:hover {
    transform: scale(120%);
 }

 #lights{
    position: absolute;
    left:270px;
    top:-120px;
 }